{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <link rel="stylesheet" href="{% static 'css/stile.css' %}">
</head>
<body>
    <center>

        <h1><a href="/">HOME</a></h1>
        <br>
        <h1>Contatos</h1>
        <p>Telefone: (12) 98249-2552</p>
        <p>https://github.com/JoaoPedroRMatias</p>

    </center>
</body>
</html> 