body{
    background-color: rgb(20, 106, 128);
    color: rgb(255, 255, 255);
}

table{
    background-color: azure;
    padding: 10px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}
table a{
    color: rgb(0, 0, 0);
    padding-right: 20px;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}